target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
*.log

### Temp ###
temp/

### Native Libraries (binary files, not in git)
# Keep directory structure but ignore binaries
native-libs/**/*.dll
native-libs/**/*.so
native-libs/**/*.wav
# Keep README files
!native-libs/**/README.txt

